<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
	<test thread-count="5" name="Test1">
		<parameter name="url" value="http://janbaskdemo.com/" />
		<classes>
			<class name="_23POMWithPFMAndTestNG._5Login" />
		</classes>
	</test> <!-- Test1 -->
</suite> <!-- Suite1 -->